# SQLite 模式（默认）
LKM_DB_DRIVER=sqlite
LKM_DB_PATH=lkm.db

# 生产使用pgSQL
#LKM_DB_DRIVER=postgresql
#LKM_DB_HOST=
#LKM_DB_PORT=5432
#LKM_DB_NAME=lkm
#LKM_DB_USER=postgres
#LKM_DB_PASSWORD=

# JWT
LKM_JWT_SECRET=change-me-to-a-random-secret
LKM_JWT_ALGORITHM=HS256
LKM_ACCESS_TOKEN_EXPIRE_MINUTES=15
LKM_REFRESH_TOKEN_EXPIRE_DAYS=7

# OAuth (GitHub)
LKM_GITHUB_CLIENT_ID=
LKM_GITHUB_CLIENT_SECRET=
LKM_GITHUB_REDIRECT_URI=http://localhost:8000/api/v1/auth/github/callback
LKM_FRONTEND_CALLBACK=http://localhost:5173/login/success

# Passkey (WebAuthn)
LKM_RP_ID=localhost
LKM_RP_NAME=LKM Service
LKM_ORIGIN=http://localhost:5173

# 走 create_all 自建表，不走数据迁移，上线之后保留数据需改为 true
LKM_USE_ALEMBIC=false